#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP                      0x00000001L
#include "Version.h"
//A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "exeicn.ico"

1 VERSIONINFO
FILEVERSION RC_FILEVERSION

FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "Matías Israelson (AKA: El_isra)"
			 VALUE "FileVersion", RC_FILEVERSION_STRING
			 VALUE "FileDescription", "automatic ELF app installer for OPL beta"
			 VALUE "InternalName", "DiagBox"
			 VALUE "LegalCopyright", " "
			 VALUE "LegalTrademarks", " "
			 VALUE "OriginalFilename", "title.cfg_maker.EXE"
			 VALUE "ProductName", "title.cfg maker"
			 VALUE "ProductVersion", RC_FILEVERSION_STRING
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252 //language codes
	 }
}
